/* Helle Toolbox */
.blocklyToolbox {
    background-color: #ecf0f1;
  }
  
  /* Heller Arbeitsbereich */
  .blocklyMainWorkspace {
    background-color: #ffffff;
  }
  
  /* Helle Kategorien in der Toolbox */
  .blocklyToolbox .blocklyTreeRoot .blocklyCategory {
    background-color: #bdc3c7;
  }
  
  /* Textfarbe der Kategorien */
  .blocklyToolbox .blocklyTreeLabel {
    color: #2c3e50;
  }
  
  /* Helle Blöcke */
  .blocklySvg .blocklyDragger .blocklyBlock {
    background-color: #f39c12;
  }
  
  /* Schwarzer Text für die Blöcke */
  .blocklyText {
    fill: #2c3e50;
  }
  