/* Dunkle Toolbox */
.blocklyToolbox {
  background-color: #15134C;
}

/* Dunkle Blöcke und Hintergrund */
.blocklyMainWorkspace {
  background-color: #15134C;
}

/* Dunkle Kategorien in der Toolbox */
.blocklyToolbox .blocklyTreeRoot .blocklyCategory {
  background-color: #15134C;
}

/* Textfarbe der Kategorien */
.blocklyToolbox .blocklyTreeLabel {
  color: white;
}

/* Dunkle Blöcke */
.blocklySvg .blocklyDragger .blocklyBlock {
  background-color: #15134C;
}

/* Weißer Text für die Blöcke */
.blocklyText {
  fill: #ecf0f1;
}
